@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

a{
  color: #000;
  text-decoration: none;
}

ul{
  list-style-type: none;
}